* {
  margin: 0;
  padding: 0;
  font-family: "PT Serif";
}

:root {
  --primary-btn: #006daa;
  --lines: white;
  --box-shadow: 0 7px 10px rgba(0, 0, 0, 0.3);
}

body {
  background-image: radial-gradient(#acbdc2, #2586c2);
  height: 95vh;
}

a {
  text-decoration: none;
}

.container {
  margin-top: 20px;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.hanging-board {
  width: 650px;
  height: 54px;
  background-color: var(--primary-btn);
  border: 2px solid var(--lines);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bold;
  color: var(--lines);
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}

.hanging-board::before,
.hanging-board::after {
  content: "";
  width: 3px;
  height: 70px;
  background-color: var(--lines);
  position: absolute;
  top: -70px;
}

.hanging-board::before {
  left: 8%;
}

.hanging-board::after {
  right: 8%;
}

.container::before {
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--lines);
  position: absolute;
  top: -20px;
}

.ov-game {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container2 {
  height: auto;
  width: 900px;
  margin-inline: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.game {
  height: 36vmin;
  width: 36vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.box {
  height: 12vmin;
  width: 12vmin;
  border: 1px solid #c0c0c0;
  font-size: 7vmin;
  color: #004b76;
  cursor: pointer;
  border-radius: 5px;
  background-color: white;
  transition: 0.5s ease-out;
}

.box:hover {
  background-color: rgb(255, 255, 255, 0.6);
}

.container3 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.player1,
.player2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

#pl1,
#pl2 {
  color: white;
  font-size: 2.4rem;
  font-weight: 1000;
}

.flash {
  animation: flash 1s ease-in-out;
}

.flipInX {
  animation: flipInX 1s ease-in-out;
}

.wobble {
  animation: wobble 1s ease-in-out;
}

.slideInDown {
  animation: slideInDown 1s ease-in-out;
}

.container4 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 36vmin;
  margin-inline: auto;
}

.res-btn {
  margin-top: 20px;
  background-color: var(--primary-btn);
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7vmin;
  height: 6vmin;
  font-size: 0.6rem;
  border-radius: 5px;
  color: var(--lines);
  cursor: pointer;
  transition: 0.2s ease-out;
}

.res-btn:hover {
  background-color: rgb(0, 102, 161);
}

.container5 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: var(--primary-btn);
  padding: 9px 17px;
  border-radius: 4px;
  width: 15%;
  margin-top: 10px;
  margin-inline: auto;
  font-size: 0.7rem;
  text-transform: uppercase;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
  padding: 0;
}

.container5 h4 {
  color: var(--primary-btn);
  margin: 0;
  font-size: 0.7rem;
}

.vercel-btn {
  padding: 6px 10px;
  font-size: 0.7rem;
  background-color: var(--primary-btn);
  color: white;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

.vercel-btn:hover {
  background-color: #2980b9;
}

@media screen and (max-width: 1200px) {
  .hanging-board {
    width: 60%;
    font-size: 18px;
    height: 50px;
  }

  .container2 {
    width: 80%;
  }

  .game {
    height: 39vmin;
    width: 39vmin;
  }

  .box {
    height: 13vmin;
    width: 13vmin;
    font-size: 7vmin;
  }

  #pl1,
  #pl2 {
    font-size: 2.2rem;
  }

  .res-btn {
    width: 8vmin;
    height: 7vmin;
  }

  .container4 {
    width: 39vmin;
  }

  .container5 {
    width: 20%;
    padding: 6px 12px;
  }

  .container5 h4 {
    font-size: 0.7rem;
  }

  .vercel-btn {
    font-size: 0.8rem;
    padding: 6px 8px;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .hanging-board {
    width: 60%;
    font-size: 20px;
    height: 50px;
  }

  .game {
    height: 39vmin;
    width: 39vmin;
  }

  .box {
    height: 13vmin;
    width: 13vmin;
    font-size: 7vmin;
  }

  #pl1,
  #pl2 {
    font-size: 1.9rem;
  }

  .res-btn {
    width: 6vmin;
    height: 5vmin;
  }

  .icon {
    padding: 5px;
  }

  .container4 {
    width: 39vmin;
  }

  .container5 {
    width: 25%;
  }

  .container5 h4 {
    font-size: 0.7rem;
  }

  .vercel-btn {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 500px) {
  .body
  {
    height: 95vh;
  }

  .hanging-board {
    width: 70%;
    font-size: 15px;
    height: 40px;
  }

  .game {
    height: 48vmin;
    width: 63vmin;
  }

  .box {
    height: 16vmin;
    width: 16vmin;
    font-size: 9vmin;
  }

  #pl1,
  #pl2 {
    font-size: 1.5rem;
  }

  .player2 {
    margin-top: 10px;
  }
  .container {
    margin-top: 20px;
    height: 10vh;
  }

  .ov-game {
    height: 50vh;
    margin-top: 10px;
  }

  .container2 {
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 60vh;
    /* gap: 10px; */
    margin-top: 10px;
  }

  .container2 i {
    font-size: 1.5rem;
  }

  .container4 {
    justify-content: center;
  }

  .res-btn {
    padding: 12px;
    margin-top: 0;
    font-size: 0.7rem;
  }

  .container5 {
    width: 40%;
    padding: 8px 15px;
  }

  .container5 h4 {
    font-size: 0.6rem;
  }

  .vercel-btn {
    font-size: 0.6rem;
    padding: 5px 8px;
  }
}
